<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.freedom.yefeng.yfrecyclerview.example"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.freedom.yefeng.yfrecyclerview.example.base.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.freedom.yefeng.yfrecyclerview.example.SampleRecyclerInsideRecyclerActivity"
            android:label="RecyclerListInsideRecyclerList"/>
        <activity
            android:name="com.freedom.yefeng.yfrecyclerview.example.SampleGridActivity"
            android:label="YfSampleGridActivity"/>
        <activity
            android:name="com.freedom.yefeng.yfrecyclerview.example.SampleActivity"
            android:label="YfRecyclerListView"/>
        <activity
            android:name="com.freedom.yefeng.yfrecyclerview.example.SampleAdapterDemoActivity"
            android:label="YfListAdapterDemo"/>
        <activity
            android:name="com.freedom.yefeng.yfrecyclerview.example.MenuActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
